/* Foxy Furniture CSS file */

body { 
	background: #fffdea !important; 	 /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
}

h1 {
	color:	#491710;
}

h2 {
	color:	#491710;
}

h3 {
	color:	#491710;
}

h4 {
	color:	#491710;
}

.navbar-div {
	border-bottom:	2px solid #996600;
	margin-bottom:  5px;
}

.footer-div {
	margin-top: 	10px;
	padding-top:	4px;
	border-top:		2px solid 	#996600;
}

#carousel-hm {
	width:	 	240px;
	height: 	240px;
	max-width: 	100%;
}

.container-inner {
	height:	210px;
}

.container-inner a img {
	width:			150px;
	float:			left;
	margin-right:	20px;
}

.footer-div li {
    display: inline;
}

.carousel-caption-darker-color {
	/* Behind Closed Doors images have strong white backgrounds, override color for contrast */
	color:			#000;
	text-shadow: 	3px 2px #ffffff;
}

.carousel-indicators-darker-color li {
	background-color: 	#666666;
	border-style: 		solid;
	border-width: 		1px;
}

.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}
	
.center-table {
  margin: 	0 auto !important;
  float: 	none !important;
}

/*********************
	Gallery styles	
 *********************/
 
.ff-gallery-img {
    box-shadow: 	0px 0px 10px black;
}

.ff-gallery-img a img {
	margin-top: 5px;
}
 
.gallery ul {
	padding:	0 0 0 0;
	margin:		0 0 0 0;
}

.gallery ul li {
	list-style:		none;
}

.gallery ul li img {
	cursor:	pointer;
}

.next {
	float: right;
}

